@import url('https://fonts.googleapis.com/css2?family=Blinker:wght@300;400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Blinker',sans-serif;
    color: var(--bg-color);
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #754ef9;
    --white-color: #fdfdfd;
    --shadow-color: rgba(0,0,0,.2);
    --tran-color: rgba(118, 78, 249, 0.9);
}

.dark-mode {
    --bg-color: #0b061f;
    --text-color: #fdfdfd;
    --main-color: #754ef9;
    --shadow-color: rgba(0,0,0,.7);
}



i{
    font-weight: 100;
    color: var(--bg-color);
}

.container{
    min-width: 100%;
    min-height: 100vh;
    background-color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;

}

.post{
    width: 600px;
    height: fit-content;
    background: var(--main-color);
    backdrop-filter: blur(15px);
    padding: 3%;
    border-radius: 15px;
    border: solid 2px var(--text-color);
    margin: .2rem;
}

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
}

.profile-detail{
    display: flex;
    align-items: center;
}

.profile-detail .p-img{
    width: 50px;
    height: 50px;
    border: 3px solid var(--text-color);
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden;
}

.profile-detail .p-img img{
    width: 100%;
    height: 100%;
}

.profile-detail .name{
    font-size: 1.5rem;
}

.more i{
    font-size: 1.5rem;
    cursor: pointer;
}

.post-img{
    height: 70%;
    width: 100%;
    position: relative;
}
.post-img img{
    width: 100%;
    height: 100%;
}

.post-img i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0;
    /* transition: 1s; */
}

.active.post-img i{
    animation: heart 1s linear;
}

@keyframes heart {
    0%{
        opacity: 0;
        transform: scale(0);
    }
    50%{
        opacity: 1;
        transform: scale(6);
    }
}

.reactions{
    margin-top: 1rem;
}

.reactions i{
    font-size: 1.5rem;
    cursor: pointer;
}

.react-links i{
    margin-right: 10px;
}

i.fa-heart:hover{
    color: red;
}

.caption{
    margin-top: 10px;
    display: flex;
}

.caption .profile-name{
    font-size: 1rem;
    font-weight: 800;
    margin-right: 10px;
}


/* ======================
===========> Particles
*/

canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
