    {% load static %}
    {% load i18n %}

    <header class="header">
        <a class="logo" href="#">
            <img src="{% static 'img/logo_transform.png' %}" alt="" width="35" height="35" class="d-inline-block align-text-top">
            A.J.S.T
        </a>
        <nav class="navbar">
            <a href="#Home" class="active">{% trans "Home" %}</a>
            <a href="{% url 'ajst.activities' %}" >{% trans "Activities" %}</a>
            <a href="{% url 'ajst.post' %}" >{% trans "Posts" %}</a>
            <!-- <a href="#Us">Us</a> -->
        </nav>

        <div class="bx bx-moon" id="darkMode-icon"></div>
        <div class="bx bx-menu" id="menu-icon"></div>
    </header>